/* GM Cuisine Factory - Base Stylesheet */
.add-button {
    padding: 10px 2px;
    font-size: 13px;
    color: #F1F1F1;
    margin: 5px;
    background: rgba(72, 72, 72, 0.55);
    flex: 1;
    border-bottom: 6px solid #37393A;
    display: inline-block;
}
